body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid black;
    margin-top: 80px;
    height: 200px;
    width: 80%;
}

button {
    margin-top: 53px;
}